
# make table: rows: industries, columns: commodities
IOMake_After_Redefinitions_2007_Detail.xlsx

# use table (producer prices): rows: commodities, columns: industries
IOUse_After_Redefinitions_PRO_2007_Detail.xlsx